  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/tasteofasia1/"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="footer-copyright">
      <span class='footer-text'>Taste of Asia</span>
    </div>
  </div>

