<div class="banner" style="background-image: url(<%= cl_image_path 'cuttlefish', crop: :fill; %>)">
  <div class="banner-content">
    <h1>Taste of Asia</h1>
    <p>Authentic Sri Lankan Cuisine</p>
    <a class="btn btn-danger btn-lg">Menu</a>
  </div>
</div>
